<mat-sidenav-container class="sidenav-container">
  <!-- SIDEBAR -->
  <mat-sidenav #sidenav mode="side" [opened]="sidenavOpened()" class="sidenav">
    <!-- Sidebar Header -->
    <div class="sidenav-header">
      <img src="assets/logo.png" alt="Logo" class="logo-icon" />
      <h3 *ngIf="sidenavOpened()">Saobraćajna Policija</h3>
    </div>

    <!-- Navigation Menu -->
    <mat-nav-list class="nav-list">
      <ng-container *ngFor="let item of menuItems">
        <a
          *ngIf="canViewItem(item)"
          mat-list-item
          [routerLink]="item.route"
          routerLinkActive="active-link"
          class="nav-item"
        >
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle *ngIf="sidenavOpened()">{{ item.label }}</span>
        </a>
      </ng-container>
    </mat-nav-list>

    <!-- Sidebar Footer -->
    <div class="sidenav-footer" *ngIf="sidenavOpened()">
      <p class="version">Version 1.2.0 - 2026 @ Ela Curic</p>
    </div>
  </mat-sidenav>

  <!-- MAIN CONTENT -->
  <mat-sidenav-content>
    <!-- TOP TOOLBAR -->
    <mat-toolbar color="primary" class="toolbar">
      <!-- Menu Toggle Button -->
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>

      <!-- Page Title - will be dynamic later -->
      <span class="toolbar-spacer"></span>

      <!-- User Menu -->
      <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
        <div class="user-avatar">{{ userInitials }}</div>
        <!-- <span class="user-name">{{ currentUser?.ime }} {{ currentUser?.prezime }}</span> -->
        <mat-icon>arrow_drop_down</mat-icon>
      </button>

      <mat-menu #userMenu="matMenu" panelClass="user-menu-panel">
        <div class="user-menu-header">
          <div class="user-avatar-large">{{ userInitials }}</div>
          <div class="user-info">
            <p class="user-full-name">{{ currentUser?.ime }} {{ currentUser?.prezime }}</p>
            <p class="user-role">{{ currentUser?.role }}</p>
          </div>
        </div>
        <mat-divider></mat-divider>

          <button mat-menu-item routerLink="/app/profil">
            <mat-icon>person</mat-icon>
            <span>Profil</span>
          </button>
        <button mat-menu-item routerLink="/app/podesavanja">
          <mat-icon>settings</mat-icon>
          <span>Podešavanja</span>
        </button>

        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Odjavi se</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <!-- PAGE CONTENT -->
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
